Repository NCATComp410/comp410_fall_2023, pull requests merged in 2023-10, with the labels that each got.

#55 Implemented Credit Card Test Cases
  test_team_sci.py
Labels: Team Sci

#64 implemented email address detection
  test_team_the_investigators.py
Labels: Team The Investigators

#67 Created detection for POB
  pii_scan.py
  test_team_the_investigators.py
Labels: Team The Investigators

#58 Implemented Student Id detection
  pii_scan.py
  test_pii_scan.py
  test_team_superior_coders.py
Labels: Team Superior Coders

#68 32 detect interests
  pii_scan.py
  test_team_hackitects.py
Labels: Team Hackitects

#78 implemented Passport Number detection
  test_team_superior_coders.py
Labels: Team Superior Coders

#63 #7 Identify American Address (pull request)
  pii_scan.py
  test_team_hackitects.py
Labels: Team Hackitects

#79 16 Detecting Faces
  noface.jpg
  otherdude.jpg
  pii_scan.py
  requirements.txt
  test.jpg
  test_team_hackitects.py
Labels: Team Hackitects

#84 Trying to finish Sprint 2 (Federal Inmate Numbers)
  noface.jpg
  otherdude.jpg
  pii_scan.py
  requirements.txt
  test.jpg
  test_team_hackitects.py
Labels: Team The Investigators

#71 Implemented full name detection
  test_team_the_investigators.py
Labels: Team The Investigators

#86 Implemented IPv4 Address Detection (Again)
  test_team_superior_coders.py
Labels: Team Superior Coders

#66 Implemented credit score detection
  pii_scan.py
  test_team_code_busters.py
Labels: Team Code Busters

#92 Revert "16 Detecting Faces"
  noface.jpg
  otherdude.jpg
  pii_scan.py
  requirements.txt
  test.jpg
  test_team_hackitects.py
Labels: Team Hackitects

#59 Add unit test cases for gender detection
  pii_scan.py
  test_team_technigals.py
Labels: Team TechniGALS

#60 Add test case for philosophical belief detection
  pii_scan.py
  test_team_code_busters.py
Labels: Team Code Busters

#56 Detect ITIN identity fraud #15
  pii_scan.py
  test_team_sci.py
Labels: Team Sci

#61 Implemented Amex Credit Card detection
  test_team_the_investigators.py
Labels: Team The Investigators

#62 Adding test cases for detecting eye color.
  pii_scan.py
  test_team_code_busters.py
Labels: Team Code Busters

#65 Implemeneted Birth date Detection
  pii_scan.py
  test_team_code_busters.py
Labels: Team Code Busters

#70 Implemented Marital Status Detection
  pii_scan.py
  test_team_hackitects.py
Labels: Team Hackitects

#73 added update to NPR to detect political standings
  pii_scan.py
  test_team_superior_coders.py
Labels: Team Superior Coders

#82 Bank Account Detection
  test_team_technigals.py
Labels: Team TechniGALS

#88 Detecting International Phone Numbers
  pii_scan.py
  test_team_technigals.py
Labels: Team TechniGALS

#90 Created a regular expression in order to detetc a social media userna…
  pii_scan.py
  test_pii_scan.py
  test_team_technigals.py
Labels: Team TechniGALS

#81 Updated Zipcode
  pii_scan.py
  test_team_technigals.py
Labels: Team TechniGALS

#94 Implemented mac address detection
  pii_scan.py
  test_team_hackitects.py
Labels: Team Hackitects

#80 Created a positive/negative test case for a UDID.
  pii_scan.py
  test_team_code_busters.py
Labels: Team Code Busters
