Repository NCATComp410/comp410_fall_2023, pull requests merged in 2023-11, with the labels that each got.

#102 Adjusted student id detection
  pii_scan.py
  test_team_superior_coders.py
Labels: Team Superior Coders

#105 detect more birthdates
  pii_scan.py
Labels: Team Code Busters

#111 108 detect federal inmate numbers
  pii_scan.py
  test_pii_scan.py
  test_team_the_investigators.py
Labels: Team The Investigators

#118 Fixing Health Insurance Policy Number
  pii_scan.py
  test_files/code_busters/has_pii.txt
  test_files/code_busters/no_pii.txt
  test_team_code_busters.py
Labels: Team Code Busters

#121 Federal inmate changes
  pii_scan.py
  test_files/investigators/has_pii.txt
  test_files/investigators/no_pii.txt
  test_team_the_investigators.py
Labels: Team The Investigators

#115 Made edits to the zipcode regex
  pii_scan.py
  test_team_technigals.py
Labels: Team TechniGALS

#117 Added instructions for image detection capability
  noface.jpg
  otherdude.jpg
  pii_scan.py
  requirements_face_recognize.txt
  test.jpg
  test_team_hackitects.py
Labels: Team Hackitects
